@font-face {
  font-family: fnt;
  src: url("/font.ttf");
  font-display: swap;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.fontX {
  font-family: fnt, "Spoqa Han Sans Neo", "sans-serif" !important;
}

a {
  text-decoration: none;
}

.centerH {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

pre {
  padding: 0px !important;
}

details {
  background: var(--nextui-colors-background);
  box-shadow: var(--nextui-shadows-md);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

code {
  background: none !important;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.borderBottomColored {
  border-bottom: 2px solid var(--nextui-colors-primary);
  display: inline-block;
  margin: 0 0 -2px 0;
}

.padding5px {
  padding: 5px;
}

/* media type */
.nm375 {
  display: none !important;
}

@media only screen and (max-width: 374px) {
  .m375 {
    display: none !important;
  }

  .nm375 {
    display: block !important;
  }
}

@media only screen and (max-width: 424px) {
  .m425 {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .m768 {
    display: none !important;
  }
}

.adsbygoogle,
.adsbygoogle > div,
.adsbygoogle > div > iframe {
  max-height: 100px !important;
}

.adsbygoogle {
  margin-top: 10px;
  margin-bottom: 10px;
}
